In [6]:
import pickle
import os

import numpy as np
import pandas as pd

In [9]:
fnames = os.listdir("results/w1_1.0_w2_5.0_sentence_34043_1000/")
x = []
for name in fnames:
    full_name = f'results/w1_1.0_w2_5.0_sentence_34043_1000/{name}'
    with open(full_name, 'rb') as f:
        x.append(pickle.load(f))

df = pd.DataFrame(x)

In [10]:
df

,n_exp,w1,w2,k_value,rho,n_obs,n_hidden,T,original_phrase,attacked_phrase,hamming_d2target,d2original,exp_util,original_acc,attacked_acc
0,0,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[spokesman, bank, nearly, countries, past, mr....",0.064516,0.000000,33.696710,0.83871,0.064516
1,1,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[indian, plan, western, rebels, office, report...",0.161290,0.032258,40.157410,0.83871,0.096774
2,2,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[gaza, media, car, expected, home, set, made, ...",0.161290,0.096774,50.674395,0.83871,0.193548
3,3,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[militants, fire, militants, nato, least, oil,...",0.225806,0.096774,52.225029,0.83871,0.096774
4,4,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[northern, defense, house, prices, army, force...",0.193548,0.000000,35.977694,0.83871,0.129032
5,5,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[month, britain, confirmed, afghan, media, fir...",0.129032,0.032258,40.155663,0.83871,0.193548
6,6,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[wednesday, ,, town, military, growth, head, p...",0.387097,0.419355,106.231731,0.83871,0.354839
7,7,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[wednesday, european, leaders, military, said,...",0.483871,0.516129,123.634891,0.83871,0.580645
8,8,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[wednesday, ,, time, military, said, iraqi, he...",0.225806,0.354839,93.151835,0.83871,0.387097
9,9,1.0,5.0,10000000.0,1.0,300,29,31,"[wednesday, ,, u.s., military, said, iraqi, am...","[last, ,, u.s., reports, members, trade, forei...",0.516129,0.548387,129.060432,0.83871,0.548387

In [11]:
print(" ".join(x[-1]["attacked_phrase"]))

last , u.s. reports members trade foreign troops countries least leaders detained fighting city 's region , told used , u.s. israeli city elections detained 10 reported men weapons friday used

In [12]:
print(" ".join(x[-1]["original_phrase"]))

wednesday , u.s. military said iraqi american troops killed least insurgents detained fighting city 's region , another baghdad , u.s. military says troops detained 10 reported men weapons car .